h1 {
    font-family: 'Arial Black', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#chatbox {
    border: 3px dashed black;
    background-color: lightblue;
    padding: 30px;
    margin: 20px auto;
    height: 600px;
    width: 40%;
}

#message {
    width: 500px;
}

body {
    background-color: antiquewhite;
}

#user {
    font-family: 'Arial', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

#userMessage {
    font-family: 'Arial', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
}
